.m-auto {
  margin: auto!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-5 {
  margin-top: 3rem!important;
}

.me-0 {
  margin-right: 0!important;
}

.me-2 {
  margin-right: .5rem!important;
}

.me-6 {
  margin-right: 4.5rem !important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.ms-0 {
  margin-left: 0!important;
}

.ms-auto {
  margin-left: auto!important;
}

@media (min-width: 576px) {
  .me-sm-7 {
    margin-right: 6rem !important;
  }
}

